# Arquivos fonte que NÃO devem ser ignorados
!*.c
!*.h
!*.cpp
!*.hpp
!*.S
!*.s
!*.json
!*.pdf
!.gitignore

# Arquivos de objeto
*.o
*.obj
*.d

# Arquivos executáveis (Windows e Linux)
*.exe
*.dll
*.out
*.bin
*.run
ex*

# Arquivos temporários
*.tmp
*.log
*.bak
*~

# Diretórios de build/output
bin/
build/
obj/
output/
debug/
release/

# Ignorar todas as .vscode (raiz e subpastas)
.vscode/
**/.vscode/

# Arquivos de testes
*.test
*.prof
